.contato{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5em 2em;
}

.contato__form{
    background-color: #fff;
    height: 75vh;
    width: 130vh;
}

.form__titulo{
    color: black;
    font-size: 40px;
    font-weight: bolder;
    margin-top: 15px;
    margin-left:12px;
}

.caixa__texto{
    margin-top: 60px;
    margin-left:12px;
}

.inputs{
    margin-right: 10px;
    height: 35px;
    width: 326px;
    border-radius: 5px;
    border-color: #dddddd;
}

.area__text{
    margin-top: 45px;
    width: 1024px;
    height: 200px;
}